.cart {
  display: flex;
  cursor: pointer;
}

.icon {
  width: 35px;
  height: 35px;
}

.wrap {
  margin-left: 10px;
}

.price {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #e6081d;
  border-bottom: 1px solid #e6081d;
}

.products {
  color: #fff;
}